
                    
                    /*   style.css(for static)  */






body {
  background-color: #c55b5b;
  font-family: Arial;
  text-align: center;
}


button {
  background-color: white;
  color: #c55b5b;
}
